@use "../abstracts" as *;

.navTop {
    display: flex;
    justify-content: space-around;
    background-color: $nav-light-color;
    align-items: center;
    flex-wrap: wrap;
    padding: 0.5rem;
    margin-bottom: 0.5rem;

    div.div_logo {

        a {
            .home_button {
                height: 60px;
                width: 200px;
            }
        }
    }

    .navList {

        .nav_buttons {
            color: $nav-list-buttons-color-light;
            size: 2rem;
            padding-right: 1rem;
            padding-left: 1rem;
            border-radius: 4px;
            font-size: 1.2rem;
            &:hover {
                transition: 0.7s;
                background-color: #c9cfdc;
                color: #403f4b;
            }
        }
    }
}




