//BG color
$bg-color-ligth: #e8e8e8;

//Titles colors
$titles-color: #2b303d;

// Button colors
$btn-light-blue: #5a92a7;
$btn-white: white;
$btn-black: #1a202c;
$btn-grey-hover: #403f4b;
$btn-grey-light-hover: #c9cfdc;
$btn-red: rgba(208, 43, 43, 0.907);

//NavBar colors
$nav-light-color: #6A5B6E;
$nav-list-buttons-color-light: white;