@use "../abstracts" as *;

div.mentory-list-container {

    h1 {
        @include titles($titles-color)
    }

    div.mentories-and-filter-container {
        display: flex;
        margin-top: 2rem;

        h2 {
            @include titles($titles-color);
            font-size: 1.6rem;
            margin: auto;
        }
    }

    div.mentoryList {
    
        display: flex;
        align-items: center;
        width: 70%;
        flex-wrap: wrap;
        gap: 1rem;

        div.mentories-container {
    
            div.card {
                
                position: relative;
                display: block;
                margin: auto;
                width: 290px;
                max-width: 40vmax;
                min-height: 655px;
                text-align: justify;
                background-color: #fff;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                overflow: hidden;
                
                .header {
                    background-color: #333;
                    color: #fff;
                    padding: 20px;
                    text-align: center;
                    font-size: 18px;
                }
                
                .body {
                    padding: 20px;
                   
        
                    .contenedorImg {
                        display: flex;
                        justify-content: center;
                    }
        
                    .skill {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
        
                        h3 {
                            padding: 1px;
                        }
                        
                        h4 {
                            padding: 1px;
                        }
                    }
        
                    button.inscription-btn {
                        @include button($btn-white, $btn-black,$btn-grey-light-hover,$btn-grey-hover);
                        position: absolute;
                        bottom: 0;
                        width: 85%;
                    }
        
                    div.actions-btn-container {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        bottom: 0;
                        width: 85%;
        
                        button.update-btn {
                            @include button($btn-white, $btn-black,$btn-grey-light-hover,$btn-grey-hover);
                            margin-bottom: 10px;
        
                            a {
                                display: block;
                                color: white;
                                width: 100%;
                            }
                        }
        
                        button.delete-btn {
                            @include button($btn-white, $btn-red,$btn-grey-light-hover,$btn-grey-hover);
                            margin-bottom: 10px
                        }
                    }
        
                }
            }
        }
    
    }

}