@use "../abstracts" as *;

div.subscription-list-container {

    h1{
        @include titles($titles-color)
    }

    h2 {
        @include titles($titles-color);
        font-size: 1.6rem;
    }

    div.subscription-list {

        display: flex;
        justify-content: center;
        gap: 1rem;

        div.subscription-card {

            position: relative;
            width: 290px;
            max-width: 320px;
            min-height: 655px;
            text-align: justify;
            background-color: white;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
            margin-top: 2rem;
        
            div.contenedorImg {
                display: flex;
                justify-content: center;
            }
        
            div.subscription-card-header {
                vertical-align: middle;
                background-color: #333;
                color: white;
                padding: 20px;
                text-align: center;
                font-size: 18px;
            }
        
            div.subscription-card-body {
                padding: 20px;
        
                button.desinscription {
                    @include button($btn-white, $btn-red,$btn-grey-light-hover,$btn-grey-hover);
                    position: absolute;
                    bottom: 0;
                    width: 85%;
                }
            }
        
            .skill {
                display: flex;
                align-items: center;
                margin-bottom: 10px;
        
                h3 {
                    padding: 1px;
                }
        
                h4 {
                    padding: 1px;
                }

            }
        }
    }
}